{
  "presets": [
     [
      "env",
      {
        "loose": true,
        "useBuiltIns": "usage",
        "targets": {
          "browsers": ["last 2 versions", "ie >= 5"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
